<template>
  <div>
    <form @submit.prevent="enviarFormulario">
      <div style="color: white">
        <H1>FORMULARIO</H1>
      </div>
      <div>
        <label for="nombre">Nombre:</label>
        <input v-model="nombre" id="nombre" :style="{ color: validarNombre ? 'black' : 'red' }" />
      </div>

      <div>
        <label for="apellido">Apellido:</label>
        <input v-model="apellido" id="apellido" :style="{ color: validarApellido ? 'black' : 'red' }" />
      </div>

      <div>
        <label for="edad">Edad:</label>
        <input v-model="edad" id="edad" :style="{ color: validarEdad ? 'black' : 'red' }" />
      </div>

      <div>
        <label for="genero">Género:</label>
        <select v-model="genero" id="genero">
          <option value="masculino">Masculino</option>
          <option value="femenino">Femenino</option>
          <option value="otro">Otro</option>
        </select>
      </div>

      <button type="submit" :disabled="mostrarCondiciones">Enviar</button>
    </form>

    <div v-if="enviado" class="mensaje-enviado">FORMULARIO ENVIADO CORRECTAMENTE</div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      nombre: "",
      apellido: "",
      edad: null,
      genero: "",
      enviado: false,
    };
  },
  computed: {
    validarNombre() {
      return this.nombre.length >= 5 && this.nombre.length <= 18;
    },
    validarApellido() {
      return this.apellido !== this.nombre;
    },
    validarEdad() {
      return this.edad > 0 && this.edad < 60;
    },
    mostrarCondiciones() {
      return !this.validarNombre || !this.validarApellido || !this.validarEdad;
    },
  },
  methods: {
    enviarFormulario() {
      if (this.validarNombre && this.validarApellido && this.validarEdad) {
        this.enviado = true;
      } else {
        this.enviado = false;
      }
    },
  },
};
</script>
<style scoped>
form {
  max-width: 300px;
  margin: auto;
  padding: 10px;
  border: 1px solid #0f0101;
  border-radius: 3px;
  background-color: #6c5151;
}
label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #ffffff;
}
input, select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
button {
  background-color: #5284c8;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
.mensaje-enviado {
  margin-top: 10px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border-radius: 3px;
}
</style>




